<p><%= link_to 'Create a new task', new_task_path %></p>
<% @tasks.each do |task| %>
  <h1><%= link_to task.name.capitalize, task_path(task) %></h1>
  <p>Description: <%= task.description %></p>
  <p>Done: <%= task.done %></p>
<% end %>
